@import "../variables.scss";

.main {
  padding: 20px;
  top: 70px;
  position: relative;
}
@media (min-width: $min-sm) {
  .main {
    padding: 30px;
  }
}
@media (min-width: $min-lg) {
  .main {
    padding: 40px;
  }
}
@media (min-width: min-xl) {
  .main {
    padding: 50px;
  }
}
